/*------------index -----------*/
.content-block-title {
  margin-top: 0;
}

.user-feed-icon, .location-feed-icon {
  vertical-align: middle;
}

.card-footer a.link {
  color: #8bc34a;
}

.toolbar-inner {
  padding:0 2em;
}

.camera-icon {
  font-size: 2.5em !important;
}

.productTitle{
  width: 100%;
  /*text-align: center !important;*/
  font-weight: 100 !important;
}

.picker-header, .picker-footer {
  display: none !important;
}

/*------------post detail  -----------*/
.canvas {
  padding-top: 25px;
}

.exploreBtn {
  width: 50%;
  margin: 5% auto;
}

/*------------video section -----------*/
#gum, #recorded{
  width: 100%;
  height: 445px;
}
.saveBtn {
   opacity: 0;
}

#restart {
  width: 30%;
}

#myCamera {
  width: 100% !important;
  height: 190px !important;
  font-size: 1em !important;
}

.nextBtn, .saveBtn {
  margin-right: 20px;
}

.videoBtnsRow {
  padding: 1% 2%;
}

video.mirrored {
  transform: scale(-1, 1);
}

video:-webkit-full-screen     { max-height: 100%; }
video:-moz-full-screen        { max-height: 100%; }

.text-centered {
  text-align: center;
}

#point-to-meal {
  font-size: 1.1em;
  height: 50px;
  text-align: center;
  color: #484848;
  /*padding-bottom: 10px;*/
}

.prompts {
  font-size: 1.1em;
  height: 50px;
  color: #484848;
  /*padding: 1%;*/
  display: none;
  text-align: center;
}


/*------------Emofood tags -----------*/
.col-25 {
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 3% 0;
  background: #f7f7f7;
}

.iconImage img{
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  padding-bottom: 2px;
}

.newTagSelected {
  background: #d4d4d4;
}

.hiddenTag {
  display: none;
}
/*-------video-------(new)*/
.videoContainer video {
  width: 100%;
  position:relative;
}

.playBtnInTimeline{
  width: 50%;
  height: 50%;
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.playBtnInTimeline i {
  /*width:50%;
  height:50%;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;*/
  font-size: 4em;
  color: #d2d2d2;
}

/*------------textfeed section -----------*/
.pac-container {
  width: 80% !important;
  z-index: 10000;
}
.materialize-tags.active {
  border: none !important;
  box-shadow: none !important;
}

.materialize-tags {
  border: none !important;
}

.materialize-tags input {
  font-size: 14px;
}

.addNewTag textarea {
  padding: 1px;
  background: #e1e1e1;
  border: none;
  padding-top: 3px;
}

.list-block {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.chip:active-state {
  color:blue;
}

.tagSelected {
  background-color: #8bc34a;
  color: white;
}

.addNewTag {
  color: #9e9e9e;
}

.tagCategory {
  width: 60px;
  display: inline-block;
  color: #9e9e9e;
}

/*------------timeline section -----------*/
.noFeedsMsg {
  background-image: url("../img/plate_nofeeds.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #848484;
  font-size: 1.2em;
  padding-top: 250px;
}

.noFeedsMsg div:first-child {
  color: #4a4a4a;
}

.noFeedsMsg i {
  vertical-align: middle;
}

.newestPostMonth {
  font-size: 0.8em;
  padding-left: 2px;
}

.timeline-item-content {
  width: 100%;
}

.timeline-item-time {
  display: inline-block;
}

.timelinePostLocation {
  display: inline-block;
  color: #818181;
}

i.location-timeline-icon {
  font-size: 18px;
  vertical-align: text-bottom;
}

.timeline-item-inner video{
  width: 100%;
}

.playBtnInTimeline {
  /*margin-right: 60%;
  color: #5a5a5a;
  background: white;
  border: none;*/
  /*vertical-align: middle;*/
  /*position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
  padding: 5px 5px;*/
}

.editBtnInTimeline {
  color: #5a5a5a;
}
